{% extends 'base.html.twig' %}

{% block title %}New Tdocument{% endblock %}

{% block body %}
    <h1>Create new Tdocument</h1>

    {{ include('tdocument/_form.html.twig') }}

    <a href="{{ path('tdocument_index') }}">back to list</a>
{% endblock %}
