<!-- Modal -->
<div class="modal fade" id="taction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="action">
    <form  id="taction" name="taction" action="{{ path('taction_new',{'code':code_niveau}) }}" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-success success-add mb-2" role="alert">
                    <i class="fas fa-check"></i> L'action a été ajouté avec succès
                </div>

                {# <div class="fileUpload btn-outline-info btn ">
                            <span> <i class="fas fa-upload"></i> </br> Selectionner un fichier </span>
                            <input type="file" class="uploadlogo" />
                            <input type="file" id="files" class="uploadlogo files" name="file">
                </div>  #}

                <div class="text-danger fileInput error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="form-group  mt-3">
                        <input type="text" name="taction[intitule]" class="form-control border-info" id="intitule" placeholder="Saisir l'intitulé du fichier">
                </div>
                <div class="text-danger intitule error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="form-group  mt-3">

                    <select  id="typeAction" name="taction[Taction]" class="form-control border-info" >
                    <option value="">Type d'action</option>
                    <option value="1">Pour action</option>
                    <option value="2">Pour information</option>
                    </select>

                </div>

                <div class="text-danger Taction error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="form-group  mt-3">
                
                    <select  id="urgence"  name="taction[etatUrgence]" class="form-control  border-info">
                    <option value="">Type d'urgence</option>
                    <option value="1">Standart</option>
                    <option value="2">Urgente</option>
                    <option value="3">Trés urgente</option>
                    <option value="4">Extrêmement urgent</option>
                    </select>

                </div>

                <div class="text-danger etatUrgence error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>
                

                <input type="hidden" id="taction__token" name="taction[_token]" value="{{ csrf_token('taction') }}">

            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-info btn-sm  button-size ajouter-action">Ajouter</button>
                <button type="button" class="btn btn-danger  btn-sm  button-size fermer-modal" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </form>

  </div>
</div>
<!-- modal -->