<form method="post" action="{{ path('taction_reponse_delete', {'id': taction_reponse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taction_reponse.id) }}">
    <button class="btn">Delete</button>
</form>
