
<!-- Modal -->
<div class="modal fade" id="Vdocument-modal" tabindex="-1" role="dialog" aria-labelledby="Vdocument-modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  onsubmit="return false" id="tdocument_version" name="tdocument_version" action="{{ path('tdocument_version_new') }}" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une version  document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-success success-add mb-2" role="alert">
                    <i class="fas fa-check"></i> Bien ajouté 
                </div>

                <div class="fileUpload btn-outline-info btn ">

                            <span> <i class="fas fa-upload"></i> </br> Selectionner un fichier </span>
                            <input type="file" class="uploadlogo" />
                            <input type="file" id="files" class="uploadlogo files" name="file">
                </div>  
                <div class="text-danger fileInput error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="form-group  mt-3">
                        <input type="text" name="tdocument_version[intitule]" class="form-control border-info" id="intitule" placeholder="Saisir l'intitulé du fichier">
                </div>
                <div class="text-danger intitule error-custom mt-2" role="alert">
                     <i class="fas fa-exclamation-triangle"></i>
                </div>

                 <div class="form-group">
                    <textarea name="tdocument_version[observation]" class="form-control border-info" id="obsevation" rows="3"  placeholder="Saisir votre observation du fichier"></textarea>
                </div>

                 <input type="hidden" id="tdocument_version__token" 
                     name="tdocument_version[_token]" value="{{ csrf_token('tdocument_version') }}">

            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-info btn-sm  button-size televerser">Téléverser</button>
                <div class="loader"></div>
                <button type="button" class="btn btn-danger  btn-sm  button-size fermer-modal" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </form>

  </div>
</div>
<!-- modal -->